[Unit]
Description=
Documentation=http://elfutils.org/
After=network.target

[Service]
EnvironmentFile=/etc/sysconfig/dbgserver
User=dbgserver
Group=dbgserver
#CacheDirectory=dbgserver
ExecStart=/usr/bin/dbgserver -d /var/cache/dbgserver/dbgserver.sqlite -p $DBGSERVER_PORT $DBGSERVER_VERBOSE $DBGSERVER_PATHS
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
